
<h1>

  <form action="results">

  <label for="random_min_input">Minimum:</label>
    <input id="random_min_input" type="text" placeholder="E.g.: 1.5" name="user_min">

  <label for="random_max_input">Maximum:</label>
    <input id="random_max_input" type="text" placeholder="E.g.: 4.5" name="user_max">

  <button>Pick random number</button>

  </form>

</h1>
