
<h1>
  <form action="results">

  <label for="square_root_input">Enter a number</label>
    <input id="square_root_input" type="text" placeholder="What number do you want to square root?" name="sq_root_input">
  <button>Calculate square root</button>

  </form>
</h1>
