
<h1>
  <form action="results">

  <label for="square_input">Enter a number</label>
    <input id="square_input" type="text" placeholder="What number do you want to square?" name="sq_input">
  <button>Calculate square</button>

  </form>
</h1>
