
<table border = 1>
  <tr>
    <th>Targets</th>
    <th>Square with Form</th>
    <th>Square Root with Form</th>
    <th>Payment with Form</th>
    <th>Random with Form</th>
  </tr>
</table>

<h1>
  <form action="results">

  <label for="square_input">Enter a number</label>
    <input id="square_input" type="text" placeholder="What number do you want to square?" name="number">
  <button>Calculate square</button>

  </form>
</h1>
