<table border = 1>
  <tr>
    <th>Targets</th>
    <th><a href="/square/new">Square with Form</a></th>
    <th><a href="/square_root/new">Square Root with Form</a></th>
    <th><a href="/payment/new">Payment with Form</a></th>
    <th><a href="/random/new">Random with Form</a></th>
  </tr>
</table>

<%= yield %>
